{
	"Server": "127.0.0.1:8888", 
	"ServerPublicKey": "./keys/server_public_key.pem",
	"AgentToken": "./keys/agent_token",
	"AgentPrivateKey": "./keys/agent_private_key.pem",
	"AgentPublicKey": "./keys/agent_public_key.pem"
}
