{
	"ServerListen": ":8888",
	"ServerPrivateKey": "./keys/server_private_key.pem",
	"ServerPublicKey": "./keys/server_public_key.pem",
	"ServerToken": "./keys/server_token",
	"ClientPublicKey": "./keys/client_public_key.pem"
}
