{
	"Server": "127.0.0.1:8888", 
	"ServerPublicKey": "./keys/server_public_key.pem",
	"ClientToken": "./keys/client_token",
	"ClientPrivateKey": "./keys/client_private_key.pem",
	"ClientPublicKey": "./keys/client_public_key.pem"
}
